{% extends "base.html.twig" %}

{% block title %}Person index!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/person_style.css"/>
{% endblock %} 

{% block body %}
<h1>Bienvenido</h1>




{% endblock %}